.blog{
    margin-bottom: 15px;
}

#logo{
    padding: 20px;
    width: max-content;
    margin: 10px auto;
    background-color: #17A2B8;
    color: azure;
    border-radius: 100px;
}

.card-title {
    margin-bottom: 0;
}

#categories{
    list-style: none;
    padding: 10px;
}

#sidebar{
    background-color: rgb(164, 201, 216);
}

#categories li:hover{
    background-color: white;
    padding: 5px;
}

#right{
    box-shadow: -10px 0px 10px 1px rgb(93, 156, 180);
}

.dp{
    border-radius: 50px;
    position: relative;
    top: -40px;
    left: 10px;
}

#ss{
    width: max-content;
    padding: 10px;
    position: sticky;
    top: 5px;
    z-index: 1;
    margin: 0 auto;
     margin-bottom: 50px;
}

#sugg{
    background-color: white;
    position: sticky;
    top: 55px;
    z-index: 1;
}

#search{
    box-shadow: 5px 5px 5px 2.5px black;
}

#userimg{
    border-radius: 100px;
    width: 200px;
}