#dp{
    border-radius: 100px;
    margin: 0 auto;
    max-width: 200px;
    min-width: 100px;
}
#cover{
    width: 100%;
}
#blog{
    padding: 50px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
.ncomment{
    background-color: rgb(46, 46, 148);
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
ul{
    list-style: none;
}
li{
    width: max-content;
    padding: 10px;
    background-color: azure;
    color: black;
    border-radius: 20px;
    margin: 5px;
}